<div class="container">
  <% if !signed_in? %>
  <hr>
  <div class="alert alert-error fade in">
    <button type="button" class="close">&times;</button>
    <p><strong>权限错误:</strong> &nbsp;&nbsp;访问该页面需要先登录，并且拥有管理员权限!</p>
  </div>
  <% elsif current_user.admin != true %>
  <hr>
  <div class="alert alert-error fade in">
    <button type="button" class="close">&times;</button>
    <p><strong>权限错误:</strong> &nbsp;&nbsp;你不具备访问该页面所要求的权限! </p>
  </div>
  <% else %>
  <hr>
  <div class="tabbable tabs-left">
    <ul class="nav nav-tabs nav-stacked">
      <li class="active"><a href="#pane1" data-toggle="tab">图片组</a></li>
      <li><a href="#pane2" data-toggle="tab">图片</a></li>
    </ul>
    <div class="tab-content">

      <div id="pane1" class="tab-pane active">
        <div class="tabbable">
          <ul class="nav nav-pills" id="ig-pills">
            <% if !@categorys.blank? %>
            <% for category in @categorys %>
            <li <% if category.id==1 %> class="active" <% end %> id="ig-pill-<%= category.id %>">
              <%= link_to category.name, image_groups_path(category_id:category.id), remote:true %>
            </li>
            <% end %>
            <% end %>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="subpage-pane" style="position: relative;">
              <%= render :partial=>"image_groups/groups_manage", locals:{category_id:1} %>
            </div>
            <div class="tab-pane" id="tab2">
              <p>Howdy, I'm in Section 2.</p>
            </div>
          </div>
        </div>
      </div>
      <div id="pane2" class="tab-pane"  style="position: relative;">
        <%= render "images/index" %>
      </div>
    </div>
  </div>

  <% end %>
</div>