<div class="slide-bar">
  <div class="container">
    <div id="edu_slide" class="banner">
      <ul>
        <li><img src="images/placeholder/1170X300.gif" alt="prod_show" /></li>
        <li><img src="images/placeholder/1170X300.gif" alt="prod_show" /></li>
        <li><img src="images/placeholder/1170X300.gif" alt="prod_show" /></li>
      </ul>
    </div>
  </div>
</div>

<!--
<div class="navbar navbar-static-top navbar-inverse" data-spy="affix" data-offset-top="400">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">宁优</a>
      
      <ul class="nav nav-pills">
        <li><a href="#art">银川</a></li>
        <li><a href="#man">固原</a></li>        
        <li><a href="#woman">中卫</a></li>
        <li><a href="#pet">石嘴山</a></li>
        <li><a href="#pet">吴忠</a></li>
      </ul>
      <form class="navbar-search pull-left">
        <input type="text" class="search-query" placeholder="Search">
      </form>
    </div>
  </div>
</div>
-->

<br>
<div class="container tabbable">
  <ul class="nav nav-pills">
    <li><a href="/" class="bty bit-link">返回首页</a></li>
    <li class="active"><a href="#tab-pane-all" data-toggle="tab">所有</a></li>
    <li><a href="#tab-pane-yc" data-toggle="tab">银川</a></li>
    <li><a href="#tab-pane-gy" data-toggle="tab">固原</a></li>
    <li><a href="#tab-pane-zw" data-toggle="tab">中卫</a></li>
    <li><a href="#tab-pane-szs" data-toggle="tab">石嘴山</a></li>
    <li><a href="#tab-pane-wz" data-toggle="tab">吴忠</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab-pane-all">
       <!--sections-->
      <section id="sec-pane-yc">
        <div class="section">
          <div class="container modules">
            <div class="row-fluid">
              <ul class="thumbnails" id="p-shuxue">
                <li class="span4">
                  <div class="thumbnail">
                    <a href="#">
                      <img src="images/placeholder/360X200.gif" alt="prod_show" />
                    </a>
                    <h3 class="text-center">
                      <a href="#" >
                        代理链接
                        <br>
                        <small>代理简要说明</small>
                      </a>
                    </h3>
                    <p>这里添加代理详细说明，包括所属产业，市场方向，对招募代理商的各项要求等信息</p>
                  </div>
                </li>
                <li class="span4">
                  <div class="thumbnail">
                    <a href="#">
                      <img src="images/placeholder/360X200.gif" alt="prod_show" />
                    </a>
                    <h3  class="text-center">
                      <a href="#">代理链接
                        <br>
                        <small>代理简要说明</small>
                      </a>
                    </h3>
                    <p>这里添加代理详细说明，包括所属产业，市场方向，对招募代理商的各项要求等信息</p>
                  </div>
                </li>
                <li class="span4">
                  <div class="thumbnail">
                    <a href="#">
                      <img src="images/placeholder/360X200.gif" alt="prod_show" />
                    </a>
                    <h3  class="text-center">
                      <a href="#">代理链接
                        <br>
                        <small>代理简要说明</small>
                      </a>
                    </h3>
                    <p>这里添加代理详细说明，包括所属产业，市场方向，对招募代理商的各项要求等信息</p>
                  </div>
                </li>
              </ul>
              <ul class="thumbnails" id="p-shuxue">
                <li class="span4">
                  <div class="thumbnail">
                    <a href="#">
                      <img src="images/placeholder/360X200.gif" alt="prod_show" />
                    </a>
                    <h3 class="text-center">
                      <a href="#" >
                        代理链接
                        <br>
                        <small>代理简要说明</small>
                      </a>
                    </h3>
                    <p>这里添加代理详细说明，包括所属产业，市场方向，对招募代理商的各项要求等信息</p>
                  </div>
                </li>
                <li class="span4">
                  <div class="thumbnail">
                    <a href="#">
                      <img src="images/placeholder/360X200.gif" alt="prod_show" />
                    </a>
                    <h3  class="text-center">
                      <a href="#">代理链接
                        <br>
                        <small>代理简要说明</small>
                      </a>
                    </h3>
                    <p>这里添加代理详细说明，包括所属产业，市场方向，对招募代理商的各项要求等信息</p>
                  </div>
                </li>
                <li class="span4">
                  <div class="thumbnail">
                    <a href="#">
                      <img src="images/placeholder/360X200.gif" alt="prod_show" />
                    </a>
                    <h3  class="text-center">
                      <a href="#">代理链接
                        <br>
                        <small>代理简要说明</small>
                      </a>
                    </h3>
                    <p>这里添加代理详细说明，包括所属产业，市场方向，对招募代理商的各项要求等信息</p>
                  </div>
                </li>
              </ul>
              <ul class="thumbnails" id="p-shuxue">
                <li class="span4">
                  <div class="thumbnail">
                    <a href="#">
                      <img src="images/placeholder/360X200.gif" alt="prod_show" />
                    </a>
                    <h3 class="text-center">
                      <a href="#" >
                        代理链接
                        <br>
                        <small>代理简要说明</small>
                      </a>
                    </h3>
                    <p>这里添加代理详细说明，包括所属产业，市场方向，对招募代理商的各项要求等信息</p>
                  </div>
                </li>
                <li class="span4">
                  <div class="thumbnail">
                    <a href="#">
                      <img src="images/placeholder/360X200.gif" alt="prod_show" />
                    </a>
                    <h3  class="text-center">
                      <a href="#">代理链接
                        <br>
                        <small>代理简要说明</small>
                      </a>
                    </h3>
                    <p>这里添加代理详细说明，包括所属产业，市场方向，对招募代理商的各项要求等信息</p>
                  </div>
                </li>
                <li class="span4">
                  <div class="thumbnail">
                    <a href="#">
                      <img src="images/placeholder/360X200.gif" alt="prod_show" />
                    </a>
                    <h3  class="text-center">
                      <a href="#">代理链接
                        <br>
                        <small>代理简要说明</small>
                      </a>
                    </h3>
                    <p>这里添加代理详细说明，包括所属产业，市场方向，对招募代理商的各项要求等信息</p>
                  </div>
                </li>
              </ul>
              <ul class="thumbnails" id="p-shuxue">
                <li class="span4">
                  <div class="thumbnail">
                    <a href="#">
                      <img src="images/placeholder/360X200.gif" alt="prod_show" />
                    </a>
                    <h3 class="text-center">
                      <a href="#" >
                        代理链接
                        <br>
                        <small>代理简要说明</small>
                      </a>
                    </h3>
                    <p>这里添加代理详细说明，包括所属产业，市场方向，对招募代理商的各项要求等信息</p>
                  </div>
                </li>
                <li class="span4">
                  <div class="thumbnail">
                    <a href="#">
                      <img src="images/placeholder/360X200.gif" alt="prod_show" />
                    </a>
                    <h3  class="text-center">
                      <a href="#">代理链接
                        <br>
                        <small>代理简要说明</small>
                      </a>
                    </h3>
                    <p>这里添加代理详细说明，包括所属产业，市场方向，对招募代理商的各项要求等信息</p>
                  </div>
                </li>
                <li class="span4">
                  <div class="thumbnail">
                    <a href="#">
                      <img src="images/placeholder/360X200.gif" alt="prod_show" />
                    </a>
                    <h3  class="text-center">
                      <a href="#">代理链接
                        <br>
                        <small>代理简要说明</small>
                      </a>
                    </h3>
                    <p>这里添加代理详细说明，包括所属产业，市场方向，对招募代理商的各项要求等信息</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="tab-pane" id="tab-pane-yc">
      <!--sections-->
      <section id="sec-pane-yc">
        <div class="section">
          <div class="container modules">
            <div class="row-fluid">
              <ul class="thumbnails" id="p-shuxue">
                <li class="span4">
                  <div class="thumbnail">
                    <a href="#">
                      <img src="images/placeholder/360X200.gif" alt="prod_show" />
                    </a>
                    <h3 class="text-center">
                      <a href="#" >
                        代理链接
                        <br>
                        <small>代理简要说明</small>
                      </a>
                    </h3>
                    <p>这里添加代理详细说明，包括所属产业，市场方向，对招募代理商的各项要求等信息</p>
                  </div>
                </li>
                <li class="span4">
                  <div class="thumbnail">
                    <a href="#">
                      <img src="images/placeholder/360X200.gif" alt="prod_show" />
                    </a>
                    <h3  class="text-center">
                      <a href="#">代理链接
                        <br>
                        <small>代理简要说明</small>
                      </a>
                    </h3>
                    <p>这里添加代理详细说明，包括所属产业，市场方向，对招募代理商的各项要求等信息</p>
                  </div>
                </li>
                <li class="span4">
                  <div class="thumbnail">
                    <a href="#">
                      <img src="images/placeholder/360X200.gif" alt="prod_show" />
                    </a>
                    <h3  class="text-center">
                      <a href="#">代理链接
                        <br>
                        <small>代理简要说明</small>
                      </a>
                    </h3>
                    <p>这里添加代理详细说明，包括所属产业，市场方向，对招募代理商的各项要求等信息</p>
                  </div>
                </li>
              </ul>
              <ul class="thumbnails" id="p-shuxue">
                <li class="span4">
                  <div class="thumbnail">
                    <a href="#">
                      <img src="images/placeholder/360X200.gif" alt="prod_show" />
                    </a>
                    <h3 class="text-center">
                      <a href="#" >
                        代理链接
                        <br>
                        <small>代理简要说明</small>
                      </a>
                    </h3>
                    <p>这里添加代理详细说明，包括所属产业，市场方向，对招募代理商的各项要求等信息</p>
                  </div>
                </li>
                <li class="span4">
                  <div class="thumbnail">
                    <a href="#">
                      <img src="images/placeholder/360X200.gif" alt="prod_show" />
                    </a>
                    <h3  class="text-center">
                      <a href="#">代理链接
                        <br>
                        <small>代理简要说明</small>
                      </a>
                    </h3>
                    <p>这里添加代理详细说明，包括所属产业，市场方向，对招募代理商的各项要求等信息</p>
                  </div>
                </li>
                <li class="span4">
                  <div class="thumbnail">
                    <a href="#">
                      <img src="images/placeholder/360X200.gif" alt="prod_show" />
                    </a>
                    <h3  class="text-center">
                      <a href="#">代理链接
                        <br>
                        <small>代理简要说明</small>
                      </a>
                    </h3>
                    <p>这里添加代理详细说明，包括所属产业，市场方向，对招募代理商的各项要求等信息</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="tab-pane" id="tab-pane-gy">
      <!--sections-->
      <section id="sec-pane-yc">
        <div class="section">
          <div class="container modules">
            <div class="row-fluid">
              <ul class="thumbnails" id="p-shuxue">
                <li class="span4">
                  <div class="thumbnail">
                    <a href="#">
                      <img src="images/placeholder/360X200.gif" alt="prod_show" />
                    </a>
                    <h3 class="text-center">
                      <a href="#" >
                        代理链接
                        <br>
                        <small>代理简要说明</small>
                      </a>
                    </h3>
                    <p>这里添加代理详细说明，包括所属产业，市场方向，对招募代理商的各项要求等信息</p>
                  </div>
                </li>
                <li class="span4">
                  <div class="thumbnail">
                    <a href="#">
                      <img src="images/placeholder/360X200.gif" alt="prod_show" />
                    </a>
                    <h3  class="text-center">
                      <a href="#">代理链接
                        <br>
                        <small>代理简要说明</small>
                      </a>
                    </h3>
                    <p>这里添加代理详细说明，包括所属产业，市场方向，对招募代理商的各项要求等信息</p>
                  </div>
                </li>
                <li class="span4">
                  <div class="thumbnail">
                    <a href="#">
                      <img src="images/placeholder/360X200.gif" alt="prod_show" />
                    </a>
                    <h3  class="text-center">
                      <a href="#">代理链接
                        <br>
                        <small>代理简要说明</small>
                      </a>
                    </h3>
                    <p>这里添加代理详细说明，包括所属产业，市场方向，对招募代理商的各项要求等信息</p>
                  </div>
                </li>
              </ul>
              <ul class="thumbnails" id="p-shuxue">
                <li class="span4">
                  <div class="thumbnail">
                    <a href="#">
                      <img src="images/placeholder/360X200.gif" alt="prod_show" />
                    </a>
                    <h3 class="text-center">
                      <a href="#" >
                        代理链接
                        <br>
                        <small>代理简要说明</small>
                      </a>
                    </h3>
                    <p>这里添加代理详细说明，包括所属产业，市场方向，对招募代理商的各项要求等信息</p>
                  </div>
                </li>
                <li class="span4">
                  <div class="thumbnail">
                    <a href="#">
                      <img src="images/placeholder/360X200.gif" alt="prod_show" />
                    </a>
                    <h3  class="text-center">
                      <a href="#">代理链接
                        <br>
                        <small>代理简要说明</small>
                      </a>
                    </h3>
                    <p>这里添加代理详细说明，包括所属产业，市场方向，对招募代理商的各项要求等信息</p>
                  </div>
                </li>
                <li class="span4">
                  <div class="thumbnail">
                    <a href="#">
                      <img src="images/placeholder/360X200.gif" alt="prod_show" />
                    </a>
                    <h3  class="text-center">
                      <a href="#">代理链接
                        <br>
                        <small>代理简要说明</small>
                      </a>
                    </h3>
                    <p>这里添加代理详细说明，包括所属产业，市场方向，对招募代理商的各项要求等信息</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="tab-pane" id="tab-pane-zw">
      <!--sections-->
      <section id="sec-pane-yc">
        <div class="section">
          <div class="container modules">
            <div class="row-fluid">
              <ul class="thumbnails" id="p-shuxue">
                <li class="span4">
                  <div class="thumbnail">
                    <a href="#">
                      <img src="images/placeholder/360X200.gif" alt="prod_show" />
                    </a>
                    <h3 class="text-center">
                      <a href="#" >
                        代理链接
                        <br>
                        <small>代理简要说明</small>
                      </a>
                    </h3>
                    <p>这里添加代理详细说明，包括所属产业，市场方向，对招募代理商的各项要求等信息</p>
                  </div>
                </li>
                <li class="span4">
                  <div class="thumbnail">
                    <a href="#">
                      <img src="images/placeholder/360X200.gif" alt="prod_show" />
                    </a>
                    <h3  class="text-center">
                      <a href="#">代理链接
                        <br>
                        <small>代理简要说明</small>
                      </a>
                    </h3>
                    <p>这里添加代理详细说明，包括所属产业，市场方向，对招募代理商的各项要求等信息</p>
                  </div>
                </li>
                <li class="span4">
                  <div class="thumbnail">
                    <a href="#">
                      <img src="images/placeholder/360X200.gif" alt="prod_show" />
                    </a>
                    <h3  class="text-center">
                      <a href="#">代理链接
                        <br>
                        <small>代理简要说明</small>
                      </a>
                    </h3>
                    <p>这里添加代理详细说明，包括所属产业，市场方向，对招募代理商的各项要求等信息</p>
                  </div>
                </li>
              </ul>
              <ul class="thumbnails" id="p-shuxue">
                <li class="span4">
                  <div class="thumbnail">
                    <a href="#">
                      <img src="images/placeholder/360X200.gif" alt="prod_show" />
                    </a>
                    <h3 class="text-center">
                      <a href="#" >
                        代理链接
                        <br>
                        <small>代理简要说明</small>
                      </a>
                    </h3>
                    <p>这里添加代理详细说明，包括所属产业，市场方向，对招募代理商的各项要求等信息</p>
                  </div>
                </li>
                <li class="span4">
                  <div class="thumbnail">
                    <a href="#">
                      <img src="images/placeholder/360X200.gif" alt="prod_show" />
                    </a>
                    <h3  class="text-center">
                      <a href="#">代理链接
                        <br>
                        <small>代理简要说明</small>
                      </a>
                    </h3>
                    <p>这里添加代理详细说明，包括所属产业，市场方向，对招募代理商的各项要求等信息</p>
                  </div>
                </li>
                <li class="span4">
                  <div class="thumbnail">
                    <a href="#">
                      <img src="images/placeholder/360X200.gif" alt="prod_show" />
                    </a>
                    <h3  class="text-center">
                      <a href="#">代理链接
                        <br>
                        <small>代理简要说明</small>
                      </a>
                    </h3>
                    <p>这里添加代理详细说明，包括所属产业，市场方向，对招募代理商的各项要求等信息</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="tab-pane" id="tab-pane-szs">
      <!--sections-->
      <section id="sec-pane-yc">
        <div class="section">
          <div class="container modules">
            <div class="row-fluid">
              <ul class="thumbnails" id="p-shuxue">
                <li class="span4">
                  <div class="thumbnail">
                    <a href="#">
                      <img src="images/placeholder/360X200.gif" alt="prod_show" />
                    </a>
                    <h3 class="text-center">
                      <a href="#" >
                        代理链接
                        <br>
                        <small>代理简要说明</small>
                      </a>
                    </h3>
                    <p>这里添加代理详细说明，包括所属产业，市场方向，对招募代理商的各项要求等信息</p>
                  </div>
                </li>
                <li class="span4">
                  <div class="thumbnail">
                    <a href="#">
                      <img src="images/placeholder/360X200.gif" alt="prod_show" />
                    </a>
                    <h3  class="text-center">
                      <a href="#">代理链接
                        <br>
                        <small>代理简要说明</small>
                      </a>
                    </h3>
                    <p>这里添加代理详细说明，包括所属产业，市场方向，对招募代理商的各项要求等信息</p>
                  </div>
                </li>
                <li class="span4">
                  <div class="thumbnail">
                    <a href="#">
                      <img src="images/placeholder/360X200.gif" alt="prod_show" />
                    </a>
                    <h3  class="text-center">
                      <a href="#">代理链接
                        <br>
                        <small>代理简要说明</small>
                      </a>
                    </h3>
                    <p>这里添加代理详细说明，包括所属产业，市场方向，对招募代理商的各项要求等信息</p>
                  </div>
                </li>
              </ul>
              <ul class="thumbnails" id="p-shuxue">
                <li class="span4">
                  <div class="thumbnail">
                    <a href="#">
                      <img src="images/placeholder/360X200.gif" alt="prod_show" />
                    </a>
                    <h3 class="text-center">
                      <a href="#" >
                        代理链接
                        <br>
                        <small>代理简要说明</small>
                      </a>
                    </h3>
                    <p>这里添加代理详细说明，包括所属产业，市场方向，对招募代理商的各项要求等信息</p>
                  </div>
                </li>
                <li class="span4">
                  <div class="thumbnail">
                    <a href="#">
                      <img src="images/placeholder/360X200.gif" alt="prod_show" />
                    </a>
                    <h3  class="text-center">
                      <a href="#">代理链接
                        <br>
                        <small>代理简要说明</small>
                      </a>
                    </h3>
                    <p>这里添加代理详细说明，包括所属产业，市场方向，对招募代理商的各项要求等信息</p>
                  </div>
                </li>
                <li class="span4">
                  <div class="thumbnail">
                    <a href="#">
                      <img src="images/placeholder/360X200.gif" alt="prod_show" />
                    </a>
                    <h3  class="text-center">
                      <a href="#">代理链接
                        <br>
                        <small>代理简要说明</small>
                      </a>
                    </h3>
                    <p>这里添加代理详细说明，包括所属产业，市场方向，对招募代理商的各项要求等信息</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="tab-pane" id="tab-pane-wz">
      <!--sections-->
      <section id="sec-pane-yc">
        <div class="section">
          <div class="container modules">
            <div class="row-fluid">
              <ul class="thumbnails" id="p-shuxue">
                <li class="span4">
                  <div class="thumbnail">
                    <a href="#">
                      <img src="images/placeholder/360X200.gif" alt="prod_show" />
                    </a>
                    <h3 class="text-center">
                      <a href="#" >
                        代理链接
                        <br>
                        <small>代理简要说明</small>
                      </a>
                    </h3>
                    <p>这里添加代理详细说明，包括所属产业，市场方向，对招募代理商的各项要求等信息</p>
                  </div>
                </li>
                <li class="span4">
                  <div class="thumbnail">
                    <a href="#">
                      <img src="images/placeholder/360X200.gif" alt="prod_show" />
                    </a>
                    <h3  class="text-center">
                      <a href="#">代理链接
                        <br>
                        <small>代理简要说明</small>
                      </a>
                    </h3>
                    <p>这里添加代理详细说明，包括所属产业，市场方向，对招募代理商的各项要求等信息</p>
                  </div>
                </li>
                <li class="span4">
                  <div class="thumbnail">
                    <a href="#">
                      <img src="images/placeholder/360X200.gif" alt="prod_show" />
                    </a>
                    <h3  class="text-center">
                      <a href="#">代理链接
                        <br>
                        <small>代理简要说明</small>
                      </a>
                    </h3>
                    <p>这里添加代理详细说明，包括所属产业，市场方向，对招募代理商的各项要求等信息</p>
                  </div>
                </li>
              </ul>
              <ul class="thumbnails" id="p-shuxue">
                <li class="span4">
                  <div class="thumbnail">
                    <a href="#">
                      <img src="images/placeholder/360X200.gif" alt="prod_show" />
                    </a>
                    <h3 class="text-center">
                      <a href="#" >
                        代理链接
                        <br>
                        <small>代理简要说明</small>
                      </a>
                    </h3>
                    <p>这里添加代理详细说明，包括所属产业，市场方向，对招募代理商的各项要求等信息</p>
                  </div>
                </li>
                <li class="span4">
                  <div class="thumbnail">
                    <a href="#">
                      <img src="images/placeholder/360X200.gif" alt="prod_show" />
                    </a>
                    <h3  class="text-center">
                      <a href="#">代理链接
                        <br>
                        <small>代理简要说明</small>
                      </a>
                    </h3>
                    <p>这里添加代理详细说明，包括所属产业，市场方向，对招募代理商的各项要求等信息</p>
                  </div>
                </li>
                <li class="span4">
                  <div class="thumbnail">
                    <a href="#">
                      <img src="images/placeholder/360X200.gif" alt="prod_show" />
                    </a>
                    <h3  class="text-center">
                      <a href="#">代理链接
                        <br>
                        <small>代理简要说明</small>
                      </a>
                    </h3>
                    <p>这里添加代理详细说明，包括所属产业，市场方向，对招募代理商的各项要求等信息</p>
                  </div>
                </li> 
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<script type="text/javascript">
$('#edu_slide').unslider({
  fluid: true,
  keys: true,               //  Enable keyboard (left, right) arrow shortcuts
  dots: true
});
</script>