<div class="slide-bar">
  <div class="container">
    <div id="edu_slide" class="banner">
      <ul>
        <li><img src="assets/images/placeholder/1170X300.gif" alt="prod_show" /></li>
        <li><img src="assets/images/placeholder/1170X300.gif" alt="prod_show" /></li>
        <li><img src="assets/images/placeholder/1170X300.gif" alt="prod_show" /></li>
      </ul>
    </div>
  </div>
</div>

<div class="navbar navbar-static-top navbar-inverse" data-spy="affix" data-offset-top="400">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">优 · 肴</a>
      <a class="brand"><small><em>由于有你们，世界便多一份美味，人们变多一份健康!</em></small></a>
      <!-- 
      <ul class="nav">
        <li class="dropdown">
          <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">中餐 <b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#p-yuwen">川菜</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#p-shuxue">粤菜</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#p-english">烧烤</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#p-english">火锅</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a id="drop2" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">西餐 <b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#j-yuwen">西冷牛排</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#j-shuxue">豪客来</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#j-english">肯德基</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#j-physics">麦当劳</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#j-chemistry">披萨</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a id="drop3" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">自助餐 <b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
            <li role="presentation" class="nav-header">区&nbsp;&nbsp;&nbsp;域</li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#s-yuwen"></a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#s-shuxue">兴庆区</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#s-english">金凤区</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#s-physics">西夏区</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a id="drop4" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">清真 <b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="drop4">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#vocal">清真美食广场</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#dancing">清真烧烤</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#dancing">清真排档</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a id="drop5" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">甜点·小食·咖啡馆 <b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="drop5">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#accounting">甜品店</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#computer">咖啡馆</a></li>
          </ul>
        </li>
      </ul>
      <<form class="navbar-search pull-left">
      <input type="text" class="search-query" placeholder="Search">
    </form>
     -->
  </div>
</div>
</div>
<!--news div-->
<br>
<div class="container modules">
  <div class="row-fluid">
    <%= render :partial=>'image_groups' %>
  </div>
</div>

<script type="text/javascript">
$('#edu_slide').unslider({
  fluid: true,
  keys: true,               //  Enable keyboard (left, right) arrow shortcuts
  dots: true
});
</script>