<div id="edu_slide" class="banner">
  <ul>
    <li style="background-image: url(assets/images/edu/slide/01.jpg); background-size: cover; width: 100%; height:400px;"></li>
    <li style="background-image: url(assets/images/edu/slide/02.jpg); background-size: cover; width: 100%; height:400px;"></li>
    <li style="background-image: url(assets/images/edu/slide/03.jpg); background-size: cover; width: 100%; height:400px;"></li>
  </ul>
</div>

<div class="navbar navbar-static-top navbar-inverse" data-spy="affix" data-offset-top="400">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">优 · 学</a>
      <a class="brand"><small><em>也许您是美丽的老师或者优秀的机构正在提供美丽的教学服务，我们时间不足，没有找到您，在此深深道歉。</em></small></a>
      <!-- 
      <ul class="nav">
        <li class="dropdown">
          <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
            中小学 <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
            <li role="presentation">
              <a role="menuitem" tabindex="-1" href="#p-yuwen">语文</a>
            </li>
            <li role="presentation">
              <a role="menuitem" tabindex="-1" href="#p-shuxue">数学</a>
            </li>
            <li role="presentation" class="divider"></li>
            <li role="presentation">
              <a role="menuitem" tabindex="-1" href="#p-english">英语</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a id="drop4" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
            艺术·特长 <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="drop4">
            <li role="presentation">
              <a role="menuitem" tabindex="-1" href="#vocal">声乐</a>
            </li>
            <li role="presentation">
              <a role="menuitem" tabindex="-1" href="#dancing">舞蹈</a>
            </li>
            <li role="presentation" class="divider"></li>
            <li role="presentation" class="nav-header">乐&nbsp;&nbsp;&nbsp;器</li>
            <li role="presentation">
              <a role="menuitem" tabindex="-1" href="#piano">钢琴</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a id="drop5" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
            成人·培训
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="drop5">
            <li role="presentation">
              <a role="menuitem" tabindex="-1" href="#accounting">财会</a>
            </li>
            <li role="presentation">
              <a role="menuitem" tabindex="-1" href="#computer">计算机</a>
            </li>
          </ul>
        </li>
      </ul>
      <<form class="navbar-search pull-left">
        <input type="text" class="search-query" placeholder="Search">
      </form>
       -->
    </div>
  </div>
</div>
<!--news div-->
<br>
<div class="container modules">
  <div class="row-fluid">
    <%= render :partial=>'image_groups' %></div>
</div>

<script type="text/javascript">
$('#edu_slide').unslider({
  fluid: true,
  keys: true,               //  Enable keyboard (left, right) arrow shortcuts
  dots: true
});
</script>