<div class="slide-bar">
  <div class="container">
    <div id="edu_slide" class="banner">
      <ul>
        <li><img src="images/placeholder/1170X300.gif" alt="prod_show" /></li>
        <li><img src="images/placeholder/1170X300.gif" alt="prod_show" /></li>
        <li><img src="images/placeholder/1170X300.gif" alt="prod_show" /></li>
      </ul>
    </div>
  </div>
</div>

<div class="navbar navbar-static-top navbar-inverse" data-spy="affix" data-offset-top="400">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">宁优</a>
      
      <ul class="nav">
        <li><a href="#art">趣味 艺术</a></li>
        <li><a href="#man">家居 办公</a></li>        
        <li><a href="#woman">珠宝 首饰</a></li>
        <li><a href="#pet">精品 食物</a></li>
        <li><a href="#pet">男&nbsp;&nbsp;人</a></li>
        <li><a href="#pet">女&nbsp;&nbsp;人</a></li>
      </ul>
      <form class="navbar-search pull-left">
        <input type="text" class="search-query" placeholder="Search">
      </form>
    </div>
  </div>
</div>
<br><br><br><br><br><br><br><br>
<div class="container tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab-pane-all" data-toggle="tab">趣味 艺术</a></li>
    <li><a href="#tab-pane-art" data-toggle="tab">家居 办公</a></li>
    <li><a href="#tab-pane-gy" data-toggle="tab">珠宝 首饰</a></li>
    <li><a href="#tab-pane-zw" data-toggle="tab">精品 食物</a></li>
    <li><a href="#tab-pane-szs" data-toggle="tab">男&nbsp;&nbsp;人</a></li>
    <li><a href="#tab-pane-wz" data-toggle="tab">女&nbsp;&nbsp;人</a></li>
  </ul>
  <div class="tab-pane" id="tab-pane-art">
    <!--sections-->
    <section id="sec-pane-art">
      <div class="section">
        <div class="container modules">
          <div class="row-fluid">
            <ul class="thumbnails" id="p-shuxue">
              <li class="span4">
                <a href="#" class="thumbnail"><img src="images/placeholder/360X200.gif" alt="prod_show" /></a>
              </li>
              <li class="span4">
                <a href="#" class="thumbnail"><img src="images/placeholder/360X200.gif" alt="prod_show" /></a>
              </li>
              <li class="span4">
                <a href="#" class="thumbnail"><img src="images/placeholder/360X200.gif" alt="prod_show" /></a>
              </li>
            </ul>
            <ul class="thumbnails" id="p-shuxue">
              <li class="span4">
                <a href="#" class="thumbnail"><img src="images/placeholder/360X200.gif" alt="prod_show" /></a>
              </li>
              <li class="span4">
                <a href="#" class="thumbnail"><img src="images/placeholder/360X200.gif" alt="prod_show" /></a>
              </li>
              <li class="span4">
                <a href="#" class="thumbnail"><img src="images/placeholder/360X200.gif" alt="prod_show" /></a>
              </li>
            </ul>
            <ul class="thumbnails" id="p-shuxue">
              <li class="span4">
                <a href="#" class="thumbnail"><img src="images/placeholder/360X200.gif" alt="prod_show" /></a>
              </li>
              <li class="span4">
                <a href="#" class="thumbnail"><img src="images/placeholder/360X200.gif" alt="prod_show" /></a>
              </li>
              <li class="span4">
                <a href="#" class="thumbnail"><img src="images/placeholder/360X200.gif" alt="prod_show" /></a>
              </li>
            </ul>
            <ul class="thumbnails" id="p-shuxue">
              <li class="span4">
                <a href="#" class="thumbnail"><img src="images/placeholder/360X200.gif" alt="prod_show" /></a>
              </li>
              <li class="span4">
                <a href="#" class="thumbnail"><img src="images/placeholder/360X200.gif" alt="prod_show" /></a>
              </li>
              <li class="span4">
                <a href="#" class="thumbnail"><img src="images/placeholder/360X200.gif" alt="prod_show" /></a>
              </li>
            </ul>
            <ul class="thumbnails" id="p-shuxue">
              <li class="span4">
                <a href="#" class="thumbnail"><img src="images/placeholder/360X200.gif" alt="prod_show" /></a>
              </li>
              <li class="span4">
                <a href="#" class="thumbnail"><img src="images/placeholder/360X200.gif" alt="prod_show" /></a>
              </li>
              <li class="span4">
                <a href="#" class="thumbnail"><img src="images/placeholder/360X200.gif" alt="prod_show" /></a>
              </li>
            </ul>
            <ul class="thumbnails" id="p-shuxue">
              <li class="span4">
                <a href="#" class="thumbnail"><img src="images/placeholder/360X200.gif" alt="prod_show" /></a>
              </li>
              <li class="span4">
                <a href="#" class="thumbnail"><img src="images/placeholder/360X200.gif" alt="prod_show" /></a>
              </li>
              <li class="span4">
                <a href="#" class="thumbnail"><img src="images/placeholder/360X200.gif" alt="prod_show" /></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>


<script type="text/javascript">
$('#edu_slide').unslider({
  fluid: true,
  keys: true,               //  Enable keyboard (left, right) arrow shortcuts
  dots: true
});
</script>
