
<div>
    <img class="img-rounded" src="http://placehold.it/940x200" alt="prod_show" />
  </div>
  <br>
  <div>
    <img class="img-rounded" src="http://placehold.it/940x200" alt="prod_show" />
  </div>
  <br>
  <div>
    <img class="img-rounded" src="http://placehold.it/940x200" alt="prod_show" />
  </div>
  <br>
  <div>
    <img class="img-rounded" src="http://placehold.it/940x200" alt="prod_show" />
  </div>
  <br>
  <div>
    <img class="img-rounded" src="http://placehold.it/940x200" alt="prod_show" />
</div>