
<div class="bg-diet bs-docs-example">
  <div class="container">
    <img class="img-rounded" src="http://placehold.it/1170x300" alt="prod_show" />
    <br>
    <img class="img-rounded" src="http://placehold.it/1170x300" alt="prod_show" />
    <div class="pull-right">
      <button type="button" href="#" class="btn btn-link">更多</button>
    </div>
    <legend ></legend>
  </div>
</div>  
<div class="bg-edu">
  <div class="container">
    <img class="img-rounded" src="http://placehold.it/1170x300" alt="prod_show" />
    <div class="pull-right">
      <button type="button" href="#" class="btn btn-link">更多</button>
    </div>
    <legend ></legend>
  </div>
  <br>
</div> 
<div class="bg-serv">
  <div class="container">
    <img class="img-rounded" src="http://placehold.it/1170x300" alt="prod_show" />
    <div class="pull-right">
      <button type="button" href="#" class="btn btn-link">更多</button>
    </div>
    <legend ></legend>
  </div>
  <br>
</div>   
<div class="bg-other">  
  <div class="container">
    <img class="img-rounded" src="http://placehold.it/1170x300" alt="prod_show" />
    <div class="pull-right">
      <button type="button" href="#" class="btn btn-link">更多</button>
    </div>
    <legend ></legend>
  </div> 
</div>