<div style="height: 600px">
	<h3>招聘信息</h3>
	目前公司有以下职位虚位以待
	<table class="table table-hover">
		<thead>
			<tr>
				<th style="width: 100px">职位名称</th><th style="width: 80px">工作地点</th><th>职位简要描述</th><th>职位要求</th>
			</tr>
		</thead>
		<tbody class=":nth-child">
				<tr>
					<td>web前端开发工程师</td><td>银川</td><td>负责web前端开发，主要包括页面布局，UI，图片，美工的工作</td><td>熟练掌握CSS， HTML,HTML5, Javascript, jQuery</td>
				</tr>
				<tr>
					<td>后端开发工程师</td><td>银川</td><td>负责后端程序开发，主要构件网站主体架构功能，外部接口，数据库规划设计等</td><td>正规高校计算机专业毕业，熟练掌握关系数据库，有过网站后端开发经验，有Java, C, C#，.net任何一种面向对象语言的开发经验即可，有Ruby开发经验者优先。有ROR开发经验者优先</td>
				</tr>
				<tr><td>客服销售人员</td><td>银川</td><td>负责前后期商户洽谈工作，吸引商户入驻</td><td>销售经验2年以上，沟通能力强，能快速融入团队合作</td></tr>
		</tbody>		
	</table>
	<br>
	<h3>招聘联系方式</h3>
	<p>电话: 0951-5102315</p>
	<p>email: boyishwei@gmail.com</p>
</div>