<div class="slide-bar">
  <div class="container">
    <div id="edu_slide" class="banner">
      <ul>
        <li><img src="assets/images/show/slide/01.jpg" alt="prod_show" /></li>
        <li><img src="assets/images/show/slide/02.jpg" alt="prod_show" /></li>
      </ul>
    </div>
  </div>
</div>

<div class="navbar navbar-static-top navbar-inverse" data-spy="affix" data-offset-top="400">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">优 · 秀</a>
      <a class="brand"><small><em>朋友是一辈子的财富，真的，真的。</em></small></a>
      <!-- 
      <ul class="nav">
        <li><a href="#art">趣味艺术品</a></li>
        <li><a href="#man">男人</a></li>        
        <li><a href="#woman">女人</a></li>
        <li><a href="#pet">宠物</a></li>
      </ul>
      <form class="navbar-search pull-left">
      <input type="text" class="search-query" placeholder="Search">
    </form>
    -->
  </div>
</div>
</div>
<br>

<div class="container modules">
  <div class="row-fluid">
    <%= render :partial=>'image_groups' %>
  </div>
</div>

<script type="text/javascript">
$('#edu_slide').unslider({
  fluid: true,
  keys: true,               //  Enable keyboard (left, right) arrow shortcuts
  dots: true
});
</script>