<div class="slide-bar">
  <div class="container">
    <div id="edu_slide" class="banner">
      <ul>
        <li><img src="assets/images/placeholder/1170X300.gif" alt="prod_show" /></li>
        <li><img src="assets/images/placeholder/1170X300.gif" alt="prod_show" /></li>
        <li><img src="assets/images/placeholder/1170X300.gif" alt="prod_show" /></li>
      </ul>
    </div>
  </div>
</div>

<div class="navbar navbar-static-top navbar-inverse" data-spy="affix" data-offset-top="400">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">优 · 游</a>
      <a class="brand"><small><em>趁现在，多去欣赏这个世界的美吧!</em></small></a>
      <!-- 
      <ul class="nav">
        <li><a href="#art">高层</a></li>
        <li><a href="#man">洋房</a></li>        
        <li><a href="#woman">别墅</a></li>
        <li><a href="#pet">精品写字楼</a></li>
      </ul>
      <form class="navbar-search pull-left">
        <input type="text" class="search-query" placeholder="Search">
      </form>
       -->
    </div>
  </div>
</div>
<br>

<div class="container modules">
  <div class="row-fluid">
    <%= render :partial=>'image_groups' %>
  </div>
</div>

<script type="text/javascript">
$('#edu_slide').unslider({
  fluid: true,
  keys: true,               //  Enable keyboard (left, right) arrow shortcuts
  dots: true
});
</script>
