// Place all the styles related to the pub controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
@import "bootstrap-responsive";
//@import "twitter/bootstrap";
//@import "twitter/bootstrap-responsive";

.footer {
text-align: center;
padding: 30px 0;
margin-top: 70px;
border-top: 1px solid #e5e5e5;
background-color: #f5f5f5;
}

.footer-links {
margin: 10px 0;
}

.footer-links li {
display: inline;
padding: 0 2px;
}

.muted {
color: #999;
}

.affix {
  position: fixed;
  top: 0;
  width: 100%;
}

.bg-diet{
	background-color: #CCCC99;
}

.bg-edu{
	background-color: #CC99CC;
}

.bg-serv{
	background-color: #99CC99;
}

.bg-other{
	background-color: #99CCCC;
}

.bg-header{
	background-color: #CCCCCC;
}




























































































































































































































































































































































































































































































































































